body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
  width: 70%;
  margin-left: 15%;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: 50%;
  text-align: center;
  border: 1px solid transparent;
}

.tab.active {
  background-color: #000;
  color: #fdfbfb;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  height: 350px;
}

.card {
  width: 300px;
  height: fit-content;
  margin: 10px;
  padding: 15px;
  position: relative;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.badge {
  position: absolute;
  top: 25px;
  left: 20px;
  background-color: #fafcfd;
  color: #141414;
  padding: 5px;
  border-radius: 5px;
}

.product-details {
  text-align: center;
}

.product-details h2 {
  align-items: center;
  text-align: center;
}

.product-details p {
  margin: 5px 0;
}

.product-details h3 {
  color: #0e0f0e;
  margin: 5px 0;
}

.product-details h5 {
  text-decoration: line-through;
}

.product-details h4 {
  color: #fc0808;
}

.price {
  color: #0e0f0e;
  font-weight: bold;
  margin-left: 10px;
}

.button {
  background-color: #0e0f0e;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .tab {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tab {
    width: 50%;
  }
}
